[submodule "agent"]
	path = agent
	url = https://github.com/fellnerd/datavault-agent.git

[submodule "parquet-ingestion"]
	path = parquet-ingestion
	url = git@github.com:fellnerd/parquet-ingestion-func.git
